#clients>h2 {
    color: var(--color-white);
    padding: 8rem;
    background: var(--color-primary)
}

.container.clients__container {
    margin-top: 10rem;
    width: 40%;
    padding-bottom: 4rem;
}

.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1.5rem;
}

.client {
    background-color: var(--color-primary);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: .3rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

.clients__logos {
    position: relative;
    top: 100px;
    display: flex;
}

.clients__logos .client__logo {
    width: 6rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1.5rem;
    background: var(--color-light);
}

/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1024px) {

    #clients>h2 {
        font-size: 1.2rem;
        padding: 4rem;
        position: relative;
        top: 100px;
    }

    .container.clients__container {
        width: 60%;
    }
}
/* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */

@media screen and (max-width: 600px) {
    #clients>h2 {
        padding: 2rem;
        top: 60px;
        font-size: 1rem;
    }

    .container.clients__container {
        width: var(--container-width-sm)
    }

    .client__review {
        width: var(--container-width-sm);
    }

    .clients__logos {
        top: 100px;
    }

    .clients__logos .client__logo {
        width: 4rem;
    }
}