#home {
    margin: 0;
    background: url('../../assets/firstFoto.jpg') no-repeat center top fixed;
    background-size: cover;
    background-attachment: fixed;
}

.home__container {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.home__container h1,
.home__container h2 {
    position: relative;
    width: 100vw;
    background: rgba(0, 0, 0, 0.62);
    text-align: center;
    color: var(--color-secondary-variant);
    padding: 1rem;
    animation-name: textAnimation;
    animation-duration: 3s;
}

.home__container h1 {
    font-size: 3vw;
}

.home__container h2 {
    width: 60vw;
    font-size: 1.5rem;
    border-radius: 30px 30px 30px 30px;
    margin: 0;
}

.home__buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.home__button-gmail {
    position: relative;
}

.home__button-whatsapp {
    position: relative;
    left: 20px;
    order: 1;
}

.home__buttons-subtitle {
    order: 1;
    padding: .1rem;
    border-radius: 20px;
    height: 23px;
    position: relative;
    color: var(--color-bg-variant);
    background: rgba(0, 0, 0, 0.76);
}


/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1024px) {
    #home {
        background-size: auto;
        background-position: 40% 45%;
        height: 100vh;
    }

    .home__container h1 {
        margin: 0 auto;
        width: 100%;
        border-radius: 20px;
        font-size: 1.2rem;
    }

    .home__container h2 {
        margin: 0 auto;
        width: 60vw;
        font-size: 1rem;
    }

    .home__buttons {
        flex-direction: column;
    }

    .home__buttons-subtitle {
        order: 0;
    }

    .home__button-whatsapp {
        order: 0;
        left: -20px;
    }

    .home__button-gmail {
        order: 0;
        top: -68px;
        left: 50px;
    }
}

/* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */

@media screen and (max-width: 600px) {
    .home__container {
        gap: 5vw;
    }

    .home__container h1 {
        width: 80%;
        font-size: .8rem;
    }
    
    .home__container h2 {
        width: 90%;
        font-size: .6rem;
    }
}