.button__up {
    display: flex;
    position: fixed;
    bottom: 5%;
    left: 50%;
    right: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    padding: .5rem;
    border-radius: 50%;
}

.button__up-icon {
    position: relative;
    top: -2px;
    align-self: center;
    font-size: 2.7rem;
    position: relative;
}


/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1024px) {
   
  }
  
  /* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */
  
  @media screen and (max-width: 600px) {
  
  }
  


